@media screen and (max-width: 1200px) {
    .header-area .header-info {
        margin-left: -60px;
    }

    .header-area .main-title {
        font-size: 66px;
    }

    .feature-box .icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 36px;
        margin-bottom: 24px;
    }

    .section-title .title {
        font-size: 38px;
    }

    .section-padding {
        padding: 100px 0;
    }

    .section-padding-top {
        padding-top: 100px;
    }

    .section-padding-bottom {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 992px) {
    .header-area .header-info {
        margin-left: 0px;
    }

    .header-area .main-title {
        font-size: 56px;
    }

    .header-area .header-info {
        padding: 40px;
    }

    .header-area .header-info::before {
        width: 100%;
    }

    .header-area .header-product-details {
        max-width: 100%;
    }

    .section-title .title {
        font-size: 38px;
    }

    .section-padding {
        padding: 80px 0;
    }

    .section-padding-top {
        padding-top: 80px;
    }

    .section-padding-bottom {
        padding-bottom: 80px;
    }

}


@media screen and (max-width: 768px) {
    .header-area {
        padding-top: 0;
    }

    .header-area .main-title {
        font-size: 46px;
        margin-bottom: 24px;
    }

    .header-area .header-product-details .title {
        font-size: 30px;
    }

    .header-area .header-info {
        padding: 30px;
    }

    .call-to-action .action-image {
        max-width: 100%;
        width: 100%;
        border-radius: 10px !important;
        padding: 60px;
    }

    .testimonial-box {
        padding: 40px;
    }

    .testimonial-box .quote {
        position: static;
        margin-bottom: 12px;
    }

    .section-title .title {
        font-size: 28px;
    }

    .section-padding {
        padding: 60px 0;
    }

    .section-padding-top {
        padding-top: 60px;
    }

    .section-padding-bottom {
        padding-bottom: 60px;
    }
}


/* === Responsive-Mobile-Menu-CSS === */
@media screen and (max-width: 1300px) {
    .mainmenu-area .nav-row .menu-items>ul>li {
        padding: 0 15px;
    }

    .nav-search-form .type-input {
        width: 180px;
    }

    .mainmenu-area .nav-actions .primary-button .part {
        width: 80px;
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {

    .mainmenu-area .nav-search,
    .mainmenu-area .nav-row .menu-items {
        display: flex !important;
    }
}

@media screen and (max-width: 1200px) {

    .mainmenu-area .nav-search,
    .mainmenu-area .nav-row .menu-items {
        background-color: #ffffff;
        z-index: 2;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        min-height: var(--navbar-height);
        order: 8;
        display: none;
    }

    .mainmenu-area .nav-search {
        order: 9;
    }

    .mainmenu-area .nav-search .nav-search-form {
        margin: 20px;
        width: calc(100% - 40px);
    }

    .mainmenu-area .nav-search .nav-search-form .type-input {
        width: calc(100% - 48px);
    }

    [data-target="#nav-menu-items"],
    [data-target="#nav-search-form"] {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --navbar-height: 80px;
    }

    .mainmenu-area .nav-actions .primary-button .part {
        width: 60px;
        font-size: 20px;
    }
}


@media screen and (min-width: 768px) {        
    .mainmenu-area .nav-row .menu-items li:hover > ul {
        transform: scaleY(1);
        opacity: 1;
    }

    .mainmenu-area .nav-row .menu-items ul li:hover > .plus:before {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .mainmenu-area .nav-row .menu-items>ul {
        flex-wrap: wrap;
        margin: 0;
    }

    .mainmenu-area .nav-row .menu-items>ul>li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        justify-content: space-between;
        padding: 15px 20px;
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: inherit;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        position: static;
        transform: scaleY(1);
        opacity: 1;
        width: 100%;
        order: 1;
        margin-top: 10px;
    }

    .mainmenu-area .nav-row .menu-items li:not(.menu-open)>ul {
        display: none;
    }

    .mainmenu-area .nav-row .menu-items>ul ul.over-items ul.over-items {
        grid-template-columns: auto;
    }

    .mainmenu-area .nav-row .menu-items {
        max-height: 80vh;
        overflow-y: auto;
    }
}


@media screen and (max-width: 576px) {
    :root {
        --navbar-height: 60px;
    }

    .mainmenu-area .nav-actions .primary-button .part {
        width: 40px;
        font-size: 16px;
    }

    .mainmenu-area .nav-row .nav-logo {
        max-width: 25vw;
    }
}


@media screen and (max-width: 480px) {
    .mainmenu-area .nav-row .menu-items>ul ul.over-items {
        grid-template-columns: auto;
    }

    :root {
        --navbar-height: 50px;
    }

    .mainmenu-area .nav-actions .primary-button .part {
        width: 35px;
        font-size: 12px;
    }
}