@media screen and (max-width: 992px) {
    .section-title .title {
        font-size: 38px;
    }

    .site-header .page-title {
        font-size: 38px;
    }
}

@media screen and (min-width: 768px) {        
    .mainmenu-area .nav-row .menu-items li:hover > ul {
        transform: scaleY(1);
        opacity: 1;
    }

    .mainmenu-area .nav-row .menu-items ul li:hover > .plus:before {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .site-header .page-title {
        font-size: 30px;
    }

    .section-padding {
        padding: 60px 0;
    }

    .section-padding-top {
        padding-top: 60px;
    }

    .section-padding-bottom {
        padding-bottom: 60px;
    }

    .footer-widget .footer-logo {
        max-width: 120px;
        display: inline-block;
    }

    .social-menu {
        margin: -5px;
    }

    .social-menu li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
        margin: 5px;
    }

    .testimonial-item .title {
        font-size: 18px;
    }

    .counter-box .number {
        font-size: 24px;
    }

    .section-title {
        margin-bottom: 36px;
    }

    .section-title .title {
        font-size: 28px;
    }

    .feature-box-2 {
        padding-left: 65px;
    }

    .feature-box-2 .title {
        font-size: 22px;
    }

    .feature-box-2 .icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }

    .section-title .primary-button {
        margin-top: 24px;
    }

    .testimonial-item .desc {
        font-size: 18px;
    }

    .counter-area {
        padding: 50px 0;
    }

    .counter-area .overlay-text {
        font-size: 16vw;
    }

    .blog-box .content {
        padding: 30px;
    }

    .blog-box .content .title {
        font-size: 26px;
    }

    .faq-tabs {
        max-width: 100%;
    }

    .comments-list .comment-body {
        padding-left: 0;
    }

    .comment-body .comment-author img {
        position: static;
        display: block;
        margin-bottom: 16px;
    }

    .comment-body .comment-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .comment-body .comment-footer .comment-author .fn {
        font-size: 22px;
        margin-bottom: 6px;
        display: block;
    }

    .comments-list .children .comment {
        padding-left: 40px;
    }
    .blog-details .title {
        font-size: 28px;
    }
    .comment-respond-title,
    .comment-list-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 576px) {
    .section-title .title {
        font-size: 24px;
    }
}

/* === Responsive-Mobile-Menu-CSS === */
@media screen and (min-width: 1200px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }

}

@media screen and (max-width: 1200px) {
    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        display: none;
    }

    .mainmenu-area .nav-actions {
        order: inherit;
    }

    .mainmenu-area .nav-actions .primary-button.menu-toggle {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --navbar-height: 80px;
    }

    .mainmenu-area .nav-row .menu-items>ul {
        flex-direction: column;
    }

    .mainmenu-area .nav-row .menu-items>ul>li {
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(23, 11, 55, 0.1);
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        position: static;
        order: 1;
        width: 100%;
        display: none !important;
        margin-top: 10px;
    }

    .mainmenu-area .nav-row .menu-items li.menu-open>ul {
        display: block !important;
    }

    .mainmenu-area .nav-row .menu-items li.menu-open>ul.over-items {
        display: grid !important;
    }

    .mainmenu-area .nav-row .menu-items ul li:not(.menu-open) .plus:before {
        transform: rotate(90deg);
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: 1.6em;
    }

    .mainmenu-area .nav-row .menu-items {
        max-height: calc(100vh - var(--navbar-height));
        overflow-y: auto;
    }
}


@media screen and (max-width: 576px) {
    .mainmenu-area .nav-row .menu-items>ul ul.over-items {
        grid-template-columns: auto;
    }

    .primary-button .part {
        padding: 8px 20px;
    }

    .mainmenu-area .nav-actions .primary-button.cirlce .part {
        width: 43px;
        height: 43px;
        font-size: 18px;
    }

    .mainmenu-area .nav-actions .primary-button {
        margin-left: 10px;
    }
}

@media screen and (max-width: 440px) {
    .mainmenu-area .nav-actions .action-button {
        display: none;
    }

    .mainmenu-area .nav-actions .primary-button.cirlce .part {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .mainmenu-area .nav-row .nav-logo .logo {
        max-width: 120px;
    }
}