@media screen and (min-width: 1200px) {
    .mainmenu-area .nav-row .menu-items {
        display: block !important;
    }

}

@media screen and (max-width: 1200px) {
    .mainmenu-area .nav-row .menu-items {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        display: none;
    }

    .mainmenu-area .nav-actions {
        order: inherit;
    }

    .mainmenu-area .nav-actions .primary-button.menu-toggle {
        display: block;
    }

    .header-product-slide {
        margin-left: 0;
    }

    .header-text .main-title {
        font-size: 76px;
    }

    .section-title .title {
        font-size: 38px;
    }

    .counter-box .number {
        font-size: 34px;
    }
}



@media screen and (max-width: 992px) {
    .about-area .about-image {
        max-height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {        
    .mainmenu-area .nav-row .menu-items li:hover > ul {
        transform: scaleY(1);
        opacity: 1;
    }

    .mainmenu-area .nav-row .menu-items ul li:hover > .plus:before {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .mainmenu-area .nav-row .menu-items>ul {
        flex-direction: column;
    }

    .mainmenu-area .nav-row .menu-items>ul>li {
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(23, 11, 55, 0.1);
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        position: static;
        order: 1;
        width: 100%;
        display: none !important;
        margin-top: 10px;
    }

    .mainmenu-area .nav-row .menu-items li.menu-open>ul {
        display: block !important;
    }

    .mainmenu-area .nav-row .menu-items li.menu-open>ul.over-items {
        display: grid !important;
    }

    .mainmenu-area .nav-row .menu-items ul li:not(.menu-open) .plus:before {
        transform: rotate(90deg);
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: 1.6em;
    }

    .mainmenu-area .nav-row .menu-items {
        max-height: calc(100vh - var(--navbar-height));
        overflow-y: auto;
    }

    .header-product-slide {
        height: 540px;
    }

    .header-text .main-title {
        font-size: 56px;
    }

    .header-area .desc {
        padding-left: 0;
    }

    .header-text .desc:before {
        display: none;
    }

    .header-area {
        padding-top: 160px;
    }

    .about-area .border-box {
        padding: 30px;
    }
}


@media screen and (max-width: 576px) {
    .mainmenu-area .nav-row .menu-items>ul ul.over-items {
        grid-template-columns: auto;
    }

    .primary-button .part {
        padding: 8px 20px;
    }

    .mainmenu-area .nav-actions .primary-button.toggle .part {
        width: 43px;
        height: 43px;
        font-size: 14px;
    }

    .mainmenu-area .nav-actions .primary-button {
        margin-left: 10px;
    }

    .header-text .main-title {
        font-size: 46px;
    }

    .header-product-slide {
        height: 400px;
    }

    #header-slider-pagination {
        margin-bottom: 30px;
    }

    #header-slider-pagination .swiper-pagination-bullet {
        font-size: 24px;
    }

    .header-play-button .button-label {
        display: none;
    }

    .header-right-control {
        flex-direction: row;
        align-items: center;
        margin-bottom: 60px;
    }

    #header-slider-pagination {
        margin: 0;
        flex-direction: row;
        width: auto;
    }

    #header-slider-pagination .swiper-pagination-bullet {
        border: none;
        padding: 2px 6px;
        border-bottom: 2px solid #170B37;
        margin: 0px;
    }

    .header-play-button .thumb img {
        width: 50px;
        height: 50px;
    }

    .header-play-button .thumb {
        width: 70px;
        height: 70px;
        padding: 10px;
    }
}

@media screen and (max-width: 440px) {
    .mainmenu-area .nav-actions .action-button {
        display: none;
    }

    .header-product-slide {
        height: 300px;
    }

    .footer-nav-links.over-items {
        grid-template-columns: auto;
    }
}