@media screen and (max-width: 992px) {
    .header-area .header-text .main-title {
        font-size: 72px;
    }

    .feature-box {
        padding: 30px;
    }

    .section-title .title {
        font-size: 36px;
    }

    .product-box .color-select {
        margin: -5px;
    }

    .product-box .color-select .color {
        margin: 5px;
    }

    .element {
        max-width: 5vw;
    }

    .testimonial-area .element-1 {
        bottom: 3%;
    }

    .header-content .main-title {
        font-size: 46px;
        margin-bottom: 16px;
    }

    .header-content .desc {
        margin-bottom: 30px;
    }

    .section-title {
        margin-bottom: 36px;
    }

}


@media screen and (min-width: 768px) {        
    .mainmenu-area .nav-row .menu-items li:hover > ul {
        transform: scaleY(1);
        opacity: 1;
    }

    .mainmenu-area .nav-row .menu-items ul li:hover > .plus:before {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .section-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .section-padding-top {
        padding-top: 80px;
    }

    .section-padding-bottom {
        padding-bottom: 80px;
    }

    .header-area {
        padding-top: 60px;
    }

    .section-title .title {
        font-size: 32px;
    }

    .feature-box {
        padding: 30px;
        text-align: center;
    }

    .about-text .title {
        font-size: 24px;
    }

    .slice-slider {
        max-width: 70vw;
    }

    .subscribe-form button[type="submit"] {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .testimonial-area::before {
        width: 100%;
        height: 100%;
    }
    
    .feature-blog {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .feature-blog .image {
        margin-bottom: 24px;
    }
    .feature-blog .title {
        font-size: 22px;
    }
}

@media screen and (max-width: 576px) {
    .header-area .header-text .main-title {
        font-size: 56px;
        margin-bottom: 16px;
        letter-spacing: 5px;
    }

    .primary-button .part {
        padding: 8px 18px;
        font-size: 14px;
    }

    .testimonial-navigate-slide .title {
        font-size: 16px;
    }

    .social-menu {
        margin: -5px;
    }

    .social-menu li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
        margin: 5px;
    }

    .footer-widget .footer-logo {
        max-width: 40vw;
    }
}

@media screen and (max-width: 480px) {
    .header-area .header-text .main-title {
        font-size: 36px;
    }

    .primary-button .part {
        font-size: 12px;
    }
}


/* === Responsive-Mobile-Menu-CSS === */
@media screen and (max-width: 1300px) {
    .mainmenu-area .nav-row .menu-items>ul>li {
        padding: 0 15px;
    }

    .nav-search-form .type-input {
        width: 180px;
    }

    .mainmenu-area .nav-actions .primary-button .part {
        font-size: 24px;
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1200px) {

    .mainmenu-area .nav-search,
    .mainmenu-area .nav-row .menu-items {
        display: flex !important;
    }
}

@media screen and (max-width: 1200px) {

    .mainmenu-area .nav-search,
    .mainmenu-area .nav-row .menu-items {
        background-color: #ffffff;
        z-index: 2;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        min-height: var(--navbar-height);
        order: 8;
        display: none;
    }

    .mainmenu-area .nav-search {
        order: 9;
    }

    .mainmenu-area .nav-search .nav-search-form {
        margin: 20px;
        width: calc(100% - 40px);
    }

    .mainmenu-area .nav-search .nav-search-form .type-input {
        width: calc(100% - 48px);
    }

    .mainmenu-area .nav-actions.left-actions {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --navbar-height: 80px;
    }

    .mainmenu-area .nav-actions .primary-button {
        margin-left: 16px;
    }
    .mainmenu-area .nav-actions .primary-button .part {
        font-size: 20px;
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 768px) {
    .mainmenu-area .nav-row .menu-items>ul {
        flex-wrap: wrap;
        margin: 0;
    }

    .mainmenu-area .nav-row .menu-items>ul>li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        justify-content: space-between;
        padding: 15px 20px;
        flex-wrap: wrap;
    }

    .mainmenu-area .nav-row .menu-items>ul>li>a {
        line-height: inherit;
    }

    .mainmenu-area .nav-row .menu-items li ul {
        position: static;
        transform: scaleY(1);
        opacity: 1;
        width: 100%;
        order: 1;
        margin-top: 10px;
    }

    .mainmenu-area .nav-row .menu-items li:not(.menu-open)>ul {
        display: none;
    }

    .mainmenu-area .nav-row .menu-items>ul ul.over-items ul.over-items {
        grid-template-columns: auto;
    }

    .mainmenu-area .nav-row .menu-items {
        max-height: 80vh;
        overflow-y: auto;
    }
}


@media screen and (max-width: 576px) {
    :root {
        --navbar-height: 60px;
    }

    .mainmenu-area .nav-actions .primary-button .part {
        font-size: 16px;
        width: 20px;
        height: 20px;
    }

    .mainmenu-area .nav-row .nav-logo {
        max-width: 25vw;
    }
}


@media screen and (max-width: 480px) {
    .mainmenu-area .nav-row .menu-items>ul ul.over-items {
        grid-template-columns: auto;
    }

    :root {
        --navbar-height: 50px;
    }

    .mainmenu-area .nav-actions .primary-button .part {
        font-size: 12px;
        width: 16px;
        height: 16px;
    }
}