/* ==================
CSS Indexing
=====================
1. Reset-CSS
2. Button-CSS
3. Helper-Class-CSS
4. Section-Title-CSS
5. Icon-List-CSS
6. Preloader-CSS
7. Mainmenu-CSS
8. Header-CSS
9. Features-CSS
10. Counter-CSS
11. Overview-CSS
12. Video-CSS
13. Call-to-Action-CSS
14. Testimonial-CSS
15. Product-CSS
16. FAQ-CSS
17. Footer-CSS
===================*/

:root {
    --primary-color: #FEC202;
    --body-color: #696969;
    --heading-color: #131313;
    --navbar-height: 100px;
}

/*=== 1. Reset-CSS ===*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--body-color);
    position: relative;
    z-index: 1;
}

P:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 16px;
}

a:focus,
a:hover,
a {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

img {
    max-width: 100%;
}

.row>div {
    position: relative;
    z-index: 1;
}

.container {
    max-width: 1312px;
}

/*=== 2. Button-CSS ===*/
.primary-button {
    background-color: var(--primary-color);
    color: var(--heading-color);
    display: inline-block;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 0px rgba(255, 112, 49, 0);
    box-shadow: 0px 0px 0px rgba(255, 112, 49, 0);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.primary-button:hover {
    color: var(--heading-color);
}

.primary-button .part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    width: 100%;
}

.primary-button .back {
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: var(--heading-color);
    color: #ffffff;
}

.primary-button:hover .part {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.primary-button .icon {
    font-size: 80%;
    margin-left: 10px;
}

.primary-button.white .front {
    background-color: #ffffff;
    color: var(--heading-color);
}


/*=== 3. Helper-Class-CSS ===*/
.g-4 {
    --bs-gutter-y: 2rem;
    --bs-gutter-x: 2rem;
}

.section-padding {
    padding-top: 132px;
    padding-bottom: 132px;
}

.section-padding-top {
    padding-top: 132px;
}

.section-padding-bottom {
    padding-bottom: 132px;
}

.mb-n40 {
    margin-bottom: -40px;
}

.z2 {
    z-index: 6 !important;
    position: relative;
}

.single-image {
    margin: 0;
    padding: 0;
    position: relative;
}

.single-image img {
    border-radius: 5px;
}

/*=== 4. Section-Title-CSS ===*/
.section-title {
    margin-bottom: 56px;
}

.section-title .title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-title .primary-button {
    margin-top: 48px;
}

.section-title.white-title .title {
    color: #ffffff;
}

.section-title.white-title .desc {
    color: #ffffff;
}

/*=== 6. Preloader-CSS ===*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    pointer-events: none;
    z-index: 999;
}

.preloader .load {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--primary-color);
    opacity: 0.1;
}

.preloader .count {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 18vw;
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

/*=== 8. Mainmenu-CSS ===*/
.mainmenu-area {
    width: 100%;
    z-index: 99;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #FEC202;
    border-bottom: 1px solid rgba(19, 19, 19, 0.1);
}

.mainmenu-area .container {
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
}

.mainmenu-area.sticky {
    position: fixed;
}

.mainmenu-area .nav-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.mainmenu-area .nav-row .nav-logo {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    order: 2;
    text-align: center;
}

.mainmenu-area .nav-row .nav-logo .logo {
    display: inline-block;
}

.transparent-light .mainmenu-area:not(.sticky) .nav-row .nav-logo .dark-logo {
    display: none;
}

body:not(.transparent-light) .mainmenu-area .nav-row .nav-logo .light-logo,
.transparent-light .mainmenu-area.sticky .nav-row .nav-logo .light-logo {
    display: none;
}

.transparent-dark .mainmenu-area .nav-row .nav-logo .light-logo {
    display: none;
}

.mainmenu-area .nav-actions {
    display: flex;
    align-items: center;
}

.mainmenu-area .nav-actions .primary-button {
    border-radius: 0;
    background-color: transparent !important;
    box-shadow: none;
}

.mainmenu-area .nav-actions .primary-button:before {
    content: "";
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 2px;
    height: calc(var(--navbar-height) / 2);
    background-color: rgba(19, 19, 19, 0.1);
    z-index: 3;
}

.mainmenu-area .nav-actions.left-actions .primary-button:before {
    left: auto;
    right: -1px;
}

.mainmenu-area .nav-actions .primary-button .part {
    padding: 0;
    width: var(--navbar-height);
    height: var(--navbar-height);
    font-size: 32px;
    background-color: var(--primary-color);
}

.mainmenu-area .nav-actions .primary-button .front {
    color: var(--heading-color);
}

.mainmenu-area .nav-actions .primary-button .back {
    background-color: var(--heading-color);
}

.mainmenu-area .nav-actions.right-actions {
    order: 4;
    justify-content: flex-end;
}

.ls-bar {
    font-size: 80%;
}

.mainmenu-area .nav-actions .primary-button.menu-toggle {
    display: none;
}

.mainmenu-area .nav-row .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 8;
}

.mainmenu-area .nav-row .menu-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainmenu-area .nav-row .menu-items ul li {
    position: relative;
}

.mainmenu-area .nav-row .menu-items ul li a {
    color: var(--heading-color);
    display: inline-block;
}

.mainmenu-area .nav-row .menu-items ul li>a.active,
.mainmenu-area .nav-row .menu-items ul li:hover>a {
    color: var(--heading-color);
    text-shadow: 0 0 1px var(--heading-color);
}

.mainmenu-area .nav-row .menu-items>ul {
    display: flex;
    justify-content: center;
    margin: 0 -20px;
}

.mainmenu-area .nav-row .menu-items>ul>li {
    padding: 0 20px;
    display: flex;
    align-items: center;

}

.mainmenu-area .nav-row .menu-items>ul>li>a {
    line-height: var(--navbar-height);
}

.mainmenu-area .nav-row .menu-items ul li>.plus {
    width: 12px;
    height: 24px;
    position: relative;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 8px;
}

.mainmenu-area .nav-row .menu-items ul li li>.plus {
    float: right;
}

.mainmenu-area .nav-row .menu-items ul li>.plus:before,
.mainmenu-area .nav-row .menu-items ul li>.plus:after {
    content: "";
    width: 12px;
    height: 2px;
    display: block;
    background-color: var(--heading-color);
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 2px);
    transition: 0.5s;
}

.mainmenu-area .nav-row .menu-items ul li>a.active~.plus:before,
.mainmenu-area .nav-row .menu-items ul li>a.active~.plus:after,
.mainmenu-area .nav-row .menu-items ul li:hover>.plus:before,
.mainmenu-area .nav-row .menu-items ul li:hover>.plus:after {
    background-color: var(--heading-color);
}

.mainmenu-area .nav-row .menu-items ul li>.plus:before {
    transform: rotate(90deg);
}

.mainmenu-area .nav-row .menu-items ul li.menu-open>.plus:before {
    transform: rotate(0deg);
}


.mainmenu-area .nav-search {
    order: 3;
    display: flex;
    width: 250px;
}

.mainmenu-area .nav-search,
.mainmenu-area .nav-row .menu-items {
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

[data-target="#nav-menu-items"],
[data-target="#nav-search-form"] {
    display: none;
}

/*=== 9. Sub-Menu-CSS ===*/
.mainmenu-area .nav-row .menu-items li ul {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 16px 0;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top left;
    z-index: 2;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.mainmenu-area .nav-row .menu-items li ul ul {
    left: 100%;
    top: 0;
}

.mainmenu-area .nav-row .menu-items li.menu-open>ul {
    transform: scaleY(1);
    opacity: 1;
}

.mainmenu-area .nav-row .menu-items>ul ul.over-items {
    display: grid;
    grid-template-columns: auto auto;
}

.mainmenu-area .nav-row .menu-items>ul ul li {
    padding: 3px 24px;
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainmenu-area .nav-row .menu-items>ul ul li a {
    color: #131313;
}


.transparent-light .mainmenu-area:not(.sticky) {
    --heading-color: #ffffff;
}

/* Nav-Search-Form */
.nav-search-form {
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(19, 19, 19, 0.1);
}

.nav-search-form .type-input {
    border: none;
    background: none;
    outline: none;
    padding: 5px 15px;
    padding-right: 0;
    height: 48px;
    background: none;
    width: 202px;
    transition: 0.5s;
    color: var(--heading-color);
}

.nav-search-form button {
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    color: var(--heading-color);
}

.nav-search-form button:hover {
    color: var(--heading-color);
}

/*=== Nav-Product-Popup ===*/
.nav-product-popup {
    display: none;
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
    padding: 60px 0;
    overflow-y: scroll;
    max-height: calc(100vh - var(--navbar-height));
}

/* -- Header-Area-css -- */
.header-area {
    background-color: #FEC202;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.header-area:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 76%;
    width: 250vw;
    height: 250vw;
    border-radius: 500vw;
    background-color: #ffffff;
    display: inline-block;
}

.header-area .element {
    position: absolute;
    z-index: -1;
}

.header-area .element.element-1 {
    left: 8%;
    top: 20%;
    max-width: 10vw;
}

.header-area .element.element-2 {
    right: 5%;
    top: 12%;
    max-width: 10vw;
}

.header-area .element.element-3 {
    left: 0;
    bottom: 15%;
    -webkit-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    transform: translateX(-60%);
    max-width: 30vw;
}

.header-area .element.element-4 {
    right: 0;
    bottom: 15%;
    -webkit-transform: translateX(60%);
    -ms-transform: translateX(60%);
    transform: translateX(60%);
    max-width: 30vw;
}

.header-area .element.element-5 {
    left: 50%;
    bottom: 33%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 70vw;
}

.header-area .header-text {
    text-align: center;
}

.header-area .header-text .main-title {
    font-size: 104px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 40px;
}

.header-slider {
    margin-top: 80px;
}

.header-slider .single-image {
    max-width: 60vw;
    margin: auto;
    text-align: center;
}

.header-slider-pagination {
    width: 200px;
    margin: auto;
}

.header-slider-pagination .swiper-slide {
    text-align: center;
}

.header-slider-pagination .swiper-slide .number {
    font-size: 24px;
    font-weight: 400;
    color: var(--heading-color);
    cursor: pointer;
    display: block;
    margin-top: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.header-slider-pagination .swiper-slide.swiper-slide-thumb-active .number {
    color: var(--primary-color);
    text-decoration: underline;
    margin-top: 0;
}

/* -- About-Area-CSS -- */
.about-area {
    position: relative;
    z-index: 1;
}

.about-area .element {
    position: absolute;
    z-index: -1;
}

.about-area .element-2 {
    left: 88%;
    top: 24%;
    max-width: 10vw;
}

.about-area .element-1 {
    left: 45%;
    top: 8%;
    width: 55px;
    max-width: 6vw;
}

.about-text .title {
    font-size: 32px;
    margin-bottom: 24px;
}

/* -- Feature-Area-CSS-- */
.feature-area {
    background-color: #FDF7E6;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.feature-area .element {
    position: absolute;
    z-index: -1;
}

.feature-area .element.element-1 {
    left: 6%;
}

.feature-area .element.element-2 {
    right: 4%;
    bottom: 8%;
}

.feature-box {
    background-color: #FEC202;
    padding: 40px;
    border-radius: 6px;
    color: #131313;
}

.feature-box.purple {
    background-color: #5438FD;
    color: #ffffff;
}

.feature-box.orange {
    background-color: var(--primary-color);
    color: #ffffff;
}

.feature-box .image {
    margin: 0 0 30px 0;
}

.feature-box .title {
    margin-bottom: 16px;
}

.feature-box.purple .title,
.feature-box.orange .title {
    color: #ffffff;
}

.slice-slider .swiper-slide {
    border-radius: 6px;
    overflow: hidden;
    border: 4px solid #ffffff;
}

.slice-slider .swiper-slide img {
    width: 100%;
}


/* -- Intro-Area-CSS -- */
.intro-area {
    background-color: #FFF0EB;
}

.intro-area .intro-slide {
    margin-bottom: 64px;
}

.check-list {
    list-style: none;
    margin: 0px 0;
    padding: 0;
}

.check-list li {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.check-list li:before {
    content: "\e92a";
    font-family: 'landshop';
    margin-right: 12px;
    color: var(--primary-color);
}

.intro-slide .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.intro-slide .swiper-slide:nth-child(odd) {
    margin-top: 60px;
}

/* -- Product-Area-CSS -- */
.product-box {
    background-color: #F6F6F6;
    padding: 24px;
    border-radius: 6px;
    text-align: center;
}

.product-box .thumb {
    margin: 0 0 24px 0;
    padding: 60px 30px;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.product-box .title {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-box .price {
    margin-bottom: 16px;
}

.product-box .color-select {
    margin: -7px;
    padding-bottom: 10px;
}

.product-box .color-select .color {
    border: none;
    background-color: #ededed;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin: 7px;
    padding: 0;
    position: relative;
}

.product-box .color-select .color::before {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 100%;
    border: 1px solid var(--heading-color);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.product-box .color-select .color.active::before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.product-box .hover {
    padding: 15px;
    position: absolute;
    right: -24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.product-box:hover .hover {
    right: 0;
    opacity: 1;
}

.product-box .hover .action {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100px;
    margin: 6px;
    color: var(--heading-color);
    font-size: 22px;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

.product-box .hover .action:hover {
    background-color: var(--heading-color);
    color: #ffffff;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

/* -- Testimonial-Slider-CSS -- */
.testimonial-area {
    background-color: #FDF7E6;
    position: relative;
    z-index: 1;
}

.testimonial-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% - 50px);
    height: 100%;
    z-index: -1;
    background: -webkit-gradient(linear, left top, left bottom, from(#F7EDD0), to(rgba(247, 237, 208, 0)));
    background: -o-linear-gradient(top, #F7EDD0 0%, rgba(247, 237, 208, 0) 100%);
    background: linear-gradient(180deg, #F7EDD0 0%, rgba(247, 237, 208, 0) 100%);
}

.testimonial-area .element {
    position: absolute;
    z-index: -1;
}

.testimonial-area .element-1 {
    right: 3%;
    bottom: 9%;
    max-width: 7vw;
}

.testimonial-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    right: -15px;
    bottom: 30px;
    z-index: 2;
}

.testimonial-navigation .control {
    width: 56px;
    height: 56px;
    line-height: 56px;
    border: none;
    background-color: var(--heading-color);
    color: #ffffff;
    border-radius: 100px;
    margin: 15px 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.testimonial-navigation .control:hover {
    background-color: var(--primary-color);
}

.testimonial-navigate-slide {
    margin-top: 40px;
}

.testimonial-navigate-slide .single-image {
    margin-bottom: 16px;
}

.testimonial-navigate-slide .title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.testimonial-navigate-slide .swiper-slide-thumb-active .title {
    color: #FF6B31;
}

.rating-star {
    display: inline-block;
    position: relative;
    color: #FF6B31;
    letter-spacing: 5px;
    font-size: 20px;
}

.rating-star .star {
    font-family: 'landshop' !important;
}

.rating-star .star:before {
    content: "\e960 \e960 \e960 \e960 \e960";
}

.rating-star .back {
    opacity: 0.4;
}

.rating-star .front {
    position: absolute;
    left: 0;
    top: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    z-index: 2;
}

.testimonial-box .testimonial-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
}

.testimonial-box .testimonial-header .quote {
    font-size: 32px;
    color: #FF6B31;
    line-height: 32px;
}

/*=== 17. Footer-CSS ===*/
.footer-area {
    background-color: #170B37;
    color: rgba(255, 255, 255, 0.7);
    --body-color: rgba(255, 255, 255, 0.7);
    --heading-color: rgba(255, 255, 255, 1);
}

.footer-widget .footer-logo {
    display: inline-block;
    margin-bottom: 22px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px 0;
    text-align: center;
}

.social-menu {
    list-style: none;
    margin: -10px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social-menu li a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    color: var(--body-color);
    border-radius: 100px;
    margin: 10px;
    -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
}

.social-menu li:hover a {
    background-color: var(--primary-color);
    color: #ffffff;
}

.footer-area .social-menu li a {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.footer-area .social-menu li a:hover {
    background-color: var(--primary-color);
}

.footer-widget .desc {
    margin-bottom: 24px;
}

.footer-widget .widget-title {
    margin-bottom: 24px;
}

.block-list {
    list-style: none;
    margin: -8px 0;
    padding: 0;
}

.block-list li {
    display: block;
}

.block-list li a {
    color: var(--body-color);
    display: inline-block;
    margin: 8px 0;
}

.block-list li:hover a {
    color: var(--primary-color);
}

.input-control {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 15px 24px;
    font-weight: 400;
    outline: none;
    line-height: 1.445em;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.subscribe-form .input-control {
    width: calc(100% - 66px);
    padding-left: 44px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.subscribe-form {
    position: relative;
    z-index: 1;
}

.subscribe-form .ls-envelope {
    position: absolute;
    left: 16px;
    top: 14px;
    z-index: 2;
}

.subscribe-form button[type="submit"] {
    width: 56px;
    height: 56px;
    font-size: 20px;
    text-align: center;
    line-height: 56px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 0 rgba(255, 107, 49, 0.3);
    box-shadow: 0 0 0 rgba(255, 107, 49, 0.3);
}

.subscribe-form button[type="submit"]:hover {
    background-color: #ffffff;
    color: var(--primary-color);
    -webkit-box-shadow: 0px 5px 15px rgba(255, 107, 49, 0.1);
    box-shadow: 0px 5px 15px rgba(255, 107, 49, 0.1);
}

.subscribe-form .mc-error {
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 10px;
}